.padre-dialog-create-user {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.dialog-create-user-header,
.dialog-create-user-tipo {
  height: 15%;
  width: 100%;
  margin-left: 20px;
}

.titulo-tipo-user {
  margin-bottom: 10px; /* Ajusta el valor de margen según tus necesidades */
}

.desplegble-tipo-user{
  width: 100%;
}

.dialog-create-user-box {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.div-inferior-botones {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.dialog-create-user-box-form {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;

  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    label {
      width: 70%;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 70%;
      padding: 10px;
    }
  }
}

.div-info-user-avatar {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}


.div-inferior-botones {
  text-align: right;
  align-items: flex-end;
  margin: 5px;
  

span.p-buttonset {
  display: inline;
}
}