<div class="div-padre-dialog-user-edit">
  <div class="card-title">
    <h2>Editar Usuario</h2>
  </div>

  <div class="div-central">
    <div class="card-content">
      <p>Información de contacto</p>
    </div>

    <div class="col-12 md:col-4">
      <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      <h5></h5>
    </div>

    <div class="card-content">
      <form #userForm="ngForm">
        <div class="form-group">
          <label for="message">Mensaje:</label>
          <input type="text" [(ngModel)]="updatedTuit" name="updatedTuit" required>
        </div>
      </form>
    </div>
  </div>

  <div class="div-inferior-botones">
    <span class="p-buttonset">
      <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="editUser()" [disabled]="!userForm.valid"></button>
      <button pButton pRipple label="Cancelar" icon="pi pi-times" (click)="confirmCancel()"></button>
    </span>
  </div>
</div>
