<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
</head>
<body>
    <header>
        <h1>Usuarios</h1>
    </header>
    <section>
        <div id="encabezado-section">
            <h2>Lista de Usuarios</h2>
        </div>
        
        <!-- Asegúrate de que users esté definido y tenga datos -->
        <div *ngIf="users && users.length > 0">
            <p-table [value]="users" dataKey="id" editMode="row" [tableStyle]="{}">
            <!-- Encabezados de la tabla -->
            <ng-template pTemplate="header">
                <tr>
                <th style="width:10%">ID</th>
                <th style="width:10%">Name</th>
                <th style="width:10%">Email</th>
                <th style="width:10%">Username</th>
                <th style="width:500px">Mensajes</th>
                </tr>
            </ng-template>
        
            <!-- Cuerpo de la tabla -->
            <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="user">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.message }}</td> <!-- Agregar esta columna para mostrar el mensaje del tuit -->
                    <td>
                        <!-- Botones de edición y acciones -->
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            </p-table>
        </div>
  
          
    </section>
</body>
</html>
