// 
.div-padre-dialog-user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
//    position: relative;

}

//div titulo
.titulo-user-details {
  margin: 20px;
  padding-top: 20px;
  padding-left: 20px;
}



// div de informacion
.div-info {
  display: flex;
  border: 2px solid rgb(197, 197, 197);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.div-info-user-avatar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.div-info-user {
  width: 80%;
  display: flex;
  flex-direction: row; /* Cambiamos de columna a fila */
  font-size: 1.2em; /* Aumentamos el tamaño de fuente */
  justify-content: space-around;
  padding-top: 10px;
}

.div-info-user p{
  padding-top: 20px;
  padding-left: 20px;
}

.info-user-lef{
  margin-left: 20px;

}

.info-user-right{
  margin-left: 10px;
}

.div-info-user-content {
  display: flex;
  flex-direction: column;
  
}

.div-info-user-content p {
  margin: 5px;
}


//div central lugares
.div-centro-lugares{
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.inferior-lugares {

}


// div box inferior
.div-inferior-grande {
  margin: 50px 20px 20px 20px; 
}

.div-inferior-header {
  /* Estilos para el encabezado superior */
}

.div-inferior-box {
  display: flex;

}

.div-inferior-box-izquierda,
.div-inferior-box-centro,
.div-inferior-box-derecha {
  flex: 1;
  margin-left: 20px;
}

// Estilos para Icono carnet huella vehiculo
.pi-id-card,
.pi-car{
  font-size: 2.7rem;
  color: blue;
}

//huella
.material-icons{
  font-size: 2.5rem;
  color: blue;
}

.div-inferior-box-izquierda {
  display: flex;
  align-items: center; 
}

.div-inferior-box-centro{
  display: flex;
  align-items: center;
}

.div-inferior-box-izquierda .box-icono {
  margin-right: 10px; /* Agrega espacio entre el icono y el texto */
}

.div-inferior-box-derecha {
  display: flex;
  align-items: center; 
}

.div-inferior-box-derecha .box-texto {
margin-left: 10px; /* Agrega espacio entre el texto y el icono */
}

.box-texto{
  margin-left: 10px;
}
  

//botones 
.div-inferior-botones {
    text-align: right;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 0px;

  span.p-buttonset {
    display: inline;
  }
}