.div-padre-dialog-user-details {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.titulo-user-details {
  text-align: left;
  margin-bottom: 20px;
}

.Informacion-user-details-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.foto-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Avatar-foto-details {
  width: 100px; /* Ajusta el tamaño del avatar según tus necesidades */
  height: 100px; /* Ajusta el tamaño del avatar según tus necesidades */
  background-color: #fff; /* Puedes agregar una imagen de fondo o estilos personalizados */
  border: 1px solid #ccc;
  border-radius: 50%; /* Para un avatar circular */
}

.informacion-usuario {
  flex: 1; /* Ocupa el 70% del ancho disponible */
  margin-left: 20px; /* Espacio entre el avatar y la información del usuario */
}

.Pertenece-a {
  margin-bottom: 20px;
}

.Pertenece-a p {
  text-align: left;
  font-weight: bold;
}

.Informacion-de-ingreso {
  margin-top: 20px;
}

.Informacion-de-ingreso p {
  text-align: left;
  font-weight: bold;
}

.carnet,
.huella,
.vehiculo {
  width: 33%; /* Divide en columnas iguales (3 columnas en total) */
  float: left;
  text-align: center;
  margin-top: 10px;
}
