<div class="div-padre-dialog-user-details">
  <div class="titulo-user-details">
    <h3>Información de usuario</h3>
  </div>

  <div class="div-info">

    <div class="div-info-user-avatar">
      <img src="https://previews.123rf.com/images/yupiramos/yupiramos2002/yupiramos200226039/140237905-cara-joven-en-marco-circular-avatar-car%C3%A1cter-icono-vector-ilustraci%C3%B3n-dise%C3%B1o.jpg" alt="Avatar del usuario" width="150" height="150">

    </div>

    <div class="div-info-user">

      <ng-container *ngIf="selectedUserDetails">
        <p><strong>Nombre:</strong> {{ selectedUserDetails.user.name }}</p>
        <p><strong>Email:</strong> {{ selectedUserDetails.user.email }}</p>
        <p><strong>Mensaje:</strong> {{ selectedUserDetails.message }}</p>

      </ng-container>
    </div>

  </div>

  <div class="div-centro-lugares">
    <h3>Lugares</h3>

  </div>

  <div class="div-inferior-grande">

    <div class="div-inferior-header">

    </div>

    <div class="div-inferior-box">

      <div class="div-inferior-box-izquierda">
        <!-- carnet  -->
        <i class="pi pi-id-card"></i>
      </div>

      <div class="div-inferior-box-centro">
        <!-- huella -->
        <span class="material-icons" style="border-style: solid; border-radius: 30%; padding: 1px; border-width: 2px">fingerprint</span>
      </div>

      <div class="div-inferior-box-derecha">
        <!-- vehiculo -->
        <i class="pi pi-car"></i>
      </div>
    </div>

  </div>

  <div class="div-inferior-botones">
    <span class="p-buttonset">
      <button pButton pRipple label="Cancel" icon="pi pi-times" (click)="confirmCancel()"></button>
    </span>
  </div>
</div>