<div class="div-padre-dialog-user-details">
  <div class="titulo-user-details">
    <h2>{{ selectedUserDetails.user.name }}</h2>
    <h3>Información de usuario</h3>
  </div>

  <div class="Informacion-user-details-avatar">
    <div class="foto-info">
      <div class="Avatar-foto-details">
        <img [src]="selectedUserDetails.user.avatar" alt="Avatar del usuario">
      </div>
      <div class="informacion-usuario">
        <p>Email: {{ selectedUserDetails.user.email }}</p>
        <p>Username: {{ selectedUserDetails.user.username }}</p>
      </div>
  </div>

  <div class="Pertenece-a">
    <p>Lugares</p>
    <div class="filas-pertenece-user">
      <ul>
        <li *ngFor="let place of selectedUserDetails.places">{{ place.name }}</li>
      </ul>
    </div>
  </div>

  <div class="Informacion-de-ingreso">
    <p>Información de ingreso</p>
    <div class="carnet">
      <!-- <p>Carnet: {{ selectedUserDetails.carnet }}</p> -->
    </div>
    <div class="huella">
      <!-- <p>Huella: {{ selectedUserDetails.huella }}</p> -->
    </div>
    <div class="vehiculo">
      <!-- <p>Vehículo: {{ selectedUserDetails.vehiculo }}</p> -->
    </div>
  </div>
</div>
