<h1>Lista de Usuarios</h1>
<div class="table-complete">
  <div class="table-header">
    <p-button label="+ Nuevo" (click)="openCreateUserDialog()"></p-button>
    <!-- <i class="pi pi-trash custom-trash-icon" (click)="openDeleteUserByIdDialog()"></i> -->
    <i class="pi pi-trash custom-trash-icon" (click)="confirmDeleteSelected()" [ngClass]="{'confirmation': isDeleteConfirmation, 'black-icon': isDeleteConfirmation}"></i>



    
    <div class="search-bar">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Buscar por nombre" [(ngModel)]="searchText" (keyup)="search()" />
        <span class="p-inputgroup-addon">
          <i class="pi pi-search" style="font-size: 1rem;"></i>
        </span>
      </div>
    </div>
    
  </div>

  <div class="rectangle-1012">
    <section>
      <div *ngIf="filteredUsers && filteredUsers.length > 0">
        <p-table [value]="filteredUsers" dataKey="id" [selection]="selectedUsers" (onRowSelect)="onRowSelect($event)" [tableStyle]="{}">

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="id" style="width: auto">ID <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="user.name" style="width: auto">Name <p-sortIcon field="user.name"></p-sortIcon></th>
              <th pSortableColumn="user.DNI" style="width: auto">DNI <p-sortIcon field="user.DNI"></p-sortIcon></th>
              <th pSortableColumn="user.email" style="width: auto">Email <p-sortIcon field="user.email"></p-sortIcon></th>
              <th pSortableColumn="user.telefono" style="width: auto">Telefono <p-sortIcon field="user.telefono"></p-sortIcon></th>
              <th pSortableColumn="user.username" style="width: auto">UserName <p-sortIcon field="user.username"></p-sortIcon></th>
              <th pSortableColumn="message" style="width: auto">Tipo <p-sortIcon field="message"></p-sortIcon></th>
              <th style="width: auto"></th>
              <th style="width: auto"></th>
              <th style="width: auto"></th>
            </tr>
          </ng-template>
        
          <ng-template pTemplate="body" let-user let-ri="rowIndex">
            <tr [pSelectableRow]="user">
              <td><p-tableCheckbox [value]="user"></p-tableCheckbox></td>
              <td>{{ user.id }}</td>
              <td>{{ user.user.name }}</td>
              <td>{{ user.user.DNI }}</td>
              <td>{{ user.user.email }}</td>
              <td>{{ user.user.telefono }}</td>
              <td>{{ user.user.username }}</td>
              <td>{{ user.message }}</td>
              <td>
                <i class="pi pi-pencil" style="font-size: 1.25rem; color: blue;" (click)="openEditUserDialog(user.id)"></i>
              </td>
              <td>
                <i class="pi pi-eye" style="font-size: 1.5rem; color: blue;" (click)="openDetailsUserDialog(user.id)"></i>
              </td>
              <td>
                <i class="pi pi-trash custom-trash-icon2" style="font-size: 1.5rem; color: blue;" (click)="openDeleteUserDialog(user.id)"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
        
      </div>
    </section>
  </div>
</div>
