<h1>Lista de Usuarios</h1>
<div class="table-complete">
  <div class="table-header">
    <p-button label="+ Nuevo" (click)="openCreateUserDialog()"></p-button>
    <i class="pi pi-trash custom-trash-icon" (click)="openDeleteUserByIdDialog()"></i>

    
    <div class="search-bar">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Buscar por nombre" [(ngModel)]="searchText" (keyup)="search()" />
        <span class="p-inputgroup-addon">
          <i class="pi pi-search" style="font-size: 1rem;"></i>
        </span>
      </div>
    </div>
    
  </div>

  <div class="rectangle-1012">
    <section>
      <div *ngIf="filteredUsers && filteredUsers.length > 0">
        <p-table [value]="filteredUsers" dataKey="id" editMode="row" [tableStyle]="{}">
          <!-- Encabezados y cuerpo de la tabla (sin cambios) -->
        </p-table>
      </div>

      <div *ngIf="users && users.length > 0">
        <p-table [value]="users" dataKey="id" editMode="row" [tableStyle]="{}">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
              <th pSortableColumn="id" style="width: 8%">ID <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="user.name" style="width: 10%">Name <p-sortIcon field="user.name"></p-sortIcon></th>
              <th pSortableColumn="user.email" style="width: 18%">Email <p-sortIcon field="user.email"></p-sortIcon></th>
              <th pSortableColumn="user.username" style="width: 10%">Username <p-sortIcon field="user.username"></p-sortIcon></th>
              <th pSortableColumn="message" style="width: 34%">Message <p-sortIcon field="message"></p-sortIcon></th>
              <th style="width: 5%"></th> 
              <th style="width: 5%"></th> 
              <th style="width: 5%"></th> 
            </tr>
          </ng-template>
          
          <!-- Cuerpo de la tabla (sin cambios) -->
          <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="user">
              <td><p-tableCheckbox [value]="userId"></p-tableCheckbox></td>
              <td>{{ user.id }}</td>
              <td>{{ user.user.name }}</td>
              <td>{{ user.user.email }}</td>
              <td>{{ user.user.username }}</td>
              <td>{{ user.message }}</td>
              <td>
                <i class="pi pi-pencil" style="font-size: 1.25rem; color:blue;" (click)="openEditUserDialog(user.id)"></i>
              </td>
              <td>
                <i class="pi pi-search" style="font-size: 1.5rem; color: blue;" (click)="openDetailsUserDialog(user.id)"></i>
              </td>
              <td>
                <i class="pi pi-trash custom-trash-icon" style="font-size: 1.5rem; color: blue;" (click)="openDeleteUserDialog(user.id)"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>
  </div>
</div>
