/* Estilos para el contenedor principal que envuelve a .table-header y .rectangle-1012 */
.table-complete {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  width: 90%;
  padding: 8px;
  gap: 8px;
  margin: 0 auto;
  border: 3px solid var(--darkcolors-light-grey-3, #f8f9fa);   
}

/* Estilos para los elementos dentro de .table-complete */
.table-complete .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkcolors-light-grey-3, #f8f9fa);
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
}

/* Estilos para el botón "+ Nuevo" */
.table-header .p-button {
  background: var(--darkcolors-light-blue, #007acc);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para el ícono de la basura */
.custom-trash-icon {
  font-size: 1.5rem;
  color: var(--darkcolors-light-blue, #007acc);
  cursor: pointer;
}

/* Estilos para la barra de búsqueda */
.table-header .search-bar {
  display: flex;
  align-items: center;
  margin-left: auto; /* Mover al lado derecho */
}

/* Estilos para el botón de búsqueda en la barra de búsqueda */
.table-header .search-bar .p-button {
  margin-left: 10px;
}

/* Estilos para el ícono "Cerrar" en la barra de búsqueda */
.table-header .search-bar .pi-times {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilos para el contenido dentro de .rectangle-1012 */
.rectangle-1012 {
  display: flex;
  justify-content: space-between;
  background: #dae3f5;
  border-radius: 8px;
  flex: 1;
  flex-direction: column;
  margin: 0;
}

/* Estilos para el contenido de la tabla dentro de .rectangle-1012 */
.rectangle-1012 p-table {
  flex: 1;
}

/* Estilos para la cabecera de la tabla dentro de .rectangle-1012 */
rectangle-1012 p-datatable thead th {
  text-align: center;
}

/* Estilos para los botones en la tabla */
rectangle-1012 button.pButton.pRipple[type="button"] {
  padding: 5px 10px;
}

/* Estilos para el contenido principal (mat-drawer-content) */
at-drawer-content {
  flex: 1;
  padding: 16px;
  color: rgb(0, 0, 0);
  margin-top: 80px;
  position: fixed;
  top: 80px;
  bottom: 60px;
  left: 100px;
  right: 0;
  overflow-y: auto;
  max-height: calc(100vh - 140px);
  cursor: pointer;
}

/* Estilos para el fondo de pantalla modal personalizado */
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
